*.csv

*.zip

*.pyc

*.txt

*.png

*.pdf

.nfs*

neuromorpho

*.swp

.vimrc

datasets

*.sh

neuron_nmo

.DS_Store

tracings/*

.RData

.Rhistory

neuron_builder

*.swc

figs/*

imaris/*

steiner_figs

steiner_imaris

steiner_figs_synthetic

paper_plots.txt

boutons/*

NLMorphologyConverter

sandbox

*.pbs*

*.deb

space_efficiency/*

neural_computation_poster

synapses

BDA2018
